* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.form-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(160, 160, 160, 0.1);
    backdrop-filter: blur(5px);
    z-index: 10;
    display: none;
}
